<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>687898089304-7qr7cgdlsr51c1iroli1le3knqqmofaf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.687898089304-7qr7cgdlsr51c1iroli1le3knqqmofaf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>687898089304-b1nukuq9usalpqkf8s0qsmcshg1numj6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB784KJXUzUoJu097clfh4ZafJTLq-BuE8</string>
	<key>GCM_SENDER_ID</key>
	<string>687898089304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.safeEncript</string>
	<key>PROJECT_ID</key>
	<string>keep-safe-f6d15</string>
	<key>STORAGE_BUCKET</key>
	<string>keep-safe-f6d15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687898089304:ios:75eda0ddbc335f641d772d</string>
</dict>
</plist>